name: License-management-service CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testing_db
        options: >-
          --health-cmd "mysqladmin ping --silent"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3
        ports:
          - 3306:3306

    steps:
  
      - uses: actions/checkout@v3

  
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mbstring, bcmath, curl, pdo_mysql, json, tokenizer
          coverage: none

   
      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist

 
      - name: Copy .env and generate key
        run: |
          cp .env.example .env
          php artisan key:generate

  
      - name: Run migrations and seeders
        run: |
          php artisan migrate --env=testing --force
          php artisan db:seed --env=testing

   
      - name: Run Laravel Pint
        run: vendor/bin/pint --test


      - name: Run PHPUnit tests
        run: php artisan test --env=testing --verbose
